absl-py
altgraph
cachetools
certifi
chardet
cycler
future
google-auth
google-auth-oauthlib
GPUtil
grpcio
idna
importlib-metadata
kiwisolver
Markdown
matplotlib
mkl-fft
mkl-random
mkl-service
numpy
oauthlib
olefile
opencv-python
Pillow
pefile
protobuf
pyasn1
pyasn1-modules
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtChart
PyQtChart-Qt5
python-dateutil
pywin32-ctypes
PyYAML
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorboard-plugin-wit
torch
torchvision
tornado
tqdm
typing-extensions
urllib3
Werkzeug
wincertstore
zipp
